<div class="container-auteurs" style="height:50px;">
</div>
<div class="container-auteurs">
    <table width="600px" cellspacing="10px">

        <tr>
          <td width="100px"><span class="textgras">Titre</span></td>
          <td width="100px"><span class="textgras">Prix</span></td>
          <td width="100px"><span class="textgras">Date publication</span></td>
          <td width="100px"><span class="textgras">Auteur</span></td>
          <td width="100px"></td>
          <td width="100px"></td>
        </tr>

        <tr *ngFor="let entry of listLivres">
            <td width="100px"><span class="text">{{ entry.titre }}</span></td>
            <td width="100px"><span class="text">{{ entry.prix }}</span></td>
            <td width="100px"><span class="text">{{ entry.datePublication | date: 'dd/MM/yyyy' }}</span></td>
            <td width="100px"><span class="text">{{ entry.nomAuteur }}</span></td>
            <td width="100px"><span class="lienaction"><a href="javascript:void(0)" (click)="affichFrmModif(entry.id)" class="lientitre">Modifier>></a></span></td>
            <td width="100px"><span class="lienaction"><a href="javascript:void(0)" (click)="supprimer(entry.id)" class="lientitre">Supprimer>></a></span></td>
        </tr>

        <tr>
            <td width="100px" height="10px"></td>
            <td width="100px"></td>
            <td width="200px"></td>
            <td width="200px"></td>
            <td width="100px"></td>
            <td width="100px"></td>
        </tr>
        <tr>
            <td width="100px"></td>
            <td width="100px"></td>
            <td width="100px"></td>
            <td width="100px"></td>
            <td width="100px"></td>
            <td width="100px"><span class="lienaction"><a href="javascript:void(0)" (click)="affichFrmAjout()" class="lientitre">Ajouter>></a></span></td>
            </tr>
            
    </table>
</div>
<ng-container *ngIf="affichAjout">
    <div class="container-auteurs" ng-hide="myVar">
        <form name="ajoutForm" #ajoutForm="ngForm" (ngSubmit)="ajouter()">
        <table width="600px" cellspacing="10px">
            <tr>
            <td width="100px"><span class="text"><input type="text" id="titre" name="titre" [(ngModel)]="ajoutFormData.titre" required></span></td>
            <td width="100px"><span class="text"><input type="text" id="prix" name="prix" [(ngModel)]="ajoutFormData.prix" required></span></td>
            <td width="100px"><span class="text"><input type="text" id="datePublication" name="datePublication" [(ngModel)]="ajoutFormData.datePublication" required></span></td>
            <td width="100px"><span class="text">

                <select id="auteur" name="auteur" [(ngModel)]="ajoutFormData.auteur" required>
                    <option value="default">----</option>
                    <option *ngFor="let auteur of listAuteurs" [value]="auteur.id">{{ auteur.nom }}</option>
                </select>

            </span></td>
            <td width="100px"><span class="lienaction"><a href="javascript:void(0)" (click)="cachFrmAjout()" class="lientitre">Annuler>></a></span></td>
            <td width="100px"><span class="lienaction"><a href="javascript:void(0)" (click)="ajouter()" class="lientitre">Ajouter>></a></span></td>
            </tr>
        </table>
            <!--<button type="submit" [disabled]="!ajoutForm?.valid">Login</button>-->
        </form>
    </div>
</ng-container>
<ng-container *ngIf="affichModif">
    <div class="container-auteurs">
        <form name="modifForm" #modifForm="ngForm" (ngSubmit)="modifier()">
        <input type="hidden" id="id" name="id" [(ngModel)]="modifFormData.id">
        <table width="600px" cellspacing="10px">
            <tr>
            <td width="100px"><span class="text"><input type="text" id="titre" name="titre" [(ngModel)]="modifFormData.titre"></span></td>
            <td width="100px"><span class="text"><input type="text" id="prix" name="prix" [(ngModel)]="modifFormData.prix"></span></td>
            <td width="100px"><span class="text"><input type="text" id="datePublication" name="datePublication" [(ngModel)]="modifFormData.datePublication"></span></td>
            
            <td width="100px"><span class="text">
                
                <!--<input type="text" id="auteur" name="auteur" [(ngModel)]="modifFormData.auteur">-->

                <select id="auteur" name="auteur" [(ngModel)]="modifFormData.auteur" required>
                    <option value="default">----</option>
                    <option *ngFor="let auteur of listAuteurs" [value]="auteur.id" [selected]="auteur.id">{{ auteur.nom }}</option>
                </select>

            </span></td>
            
            <td width="100px"><span class="lienaction"><a href="javascript:void(0)" (click)="cachFrmModif()"  class="lientitre">Annuler>></a></span></td>
            <td width="100px"><span class="lienaction"><a href="javascript:void(0)" (click)="modifier()" class="lientitre">Modifier>></a></span></td>
            </tr>
        </table>
        </form>
    </div>
</ng-container>
<div class="container-auteurs" style="height: 40px;">
</div>
<div class="container-auteurs" style="text-align: right;">
    <a routerLink="" class="lienaction">Accueil>></a>
</div>
<div class="container-auteurs" style="height: 40px;">
</div>